#include <windows.h>
#include <ntverp.h>

#include "version.h"

#define VER_FILEDESCRIPTION_STR         "Defragmantation Engine Dll"
#define VER_ORIGINALFILENAME_STR        "Engine.dll"
#define VER_FILETYPE                    VFT_APP
#define VER_FILESUBTYPE                 VFT2_UNKNOWN

#include "common.ver"
